<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header>
    <div class="top-bar-div">
        <div class="top-bar">
            <div style=" border-right: solid 1px #E5E5E5; background-color: white ; height: 100%; display: flex; align-items: center; padding-right: 30px; padding-left: 30px;">
                <a href="/">ভেল্কি</a>
            </div>
            
            <a class="csl" href="">কাস্টমার সার্ভিস</a>
        </div>
    </div>
    <div class="logo-area-div">
        <div class="logo-area">
            <div><img src="/public/images/velki-site-main-logo.jpg"></div>
            <div>
                <div class="date-container" style="display: inline-flex; flex-direction: column; justify-content: center; align-items: center;">
                    <p class="day">05</p>
                    <div class="weekday-month">
                        <p class="weekday" style="margin: 0 2px;">SAT</p>,
                        <p class="month" style="margin: 0 2px;">OCT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-div">
        <div class="nav-bar">
            
            <nav>
                <ul>
                    <li><a href="home.html" class="nav-link">হোম পেইজ</a></li>
                    <li><a href="general-qna.html" class="nav-link">সাধারণ প্রশ্ন উত্তর <em class="caret"></em></a>
                        <ul>
                            <li><a href="proxylink.html">ভেল্কি প্রক্সী লিংক</a></li>
                            <li><a href="open-velki-account.html">ভেল্কিতে একাউন্ট খুলবেন?</a></li>
                            <li><a href="old-new-list.html">এজেন্ট এর নতুন নম্বর</a></li>
                            <li><a href="phone-number-search.html">ফোন নম্বর সার্চ করুন</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-link">এজেন্ট লিস্ট <em class="caret"></em></a>
                        <ul>
                            <li><a href="verify-agent.html">এজেন্ট কে ভেরিফাই করুন</a></li>
                            <li><a href="master-agent-list.html">মাস্টার এজেন্ট লিস্ট</a></li>
                            <li><a href="super-agent-list.html">সুপার এজেন্ট লিস্ট</a></li>
                            <li><a href="sub-admin-list.html">সাব এডমিন লিস্ট</a></li>
                            <li><a href="site-admin-list.html">সাইট এডমিন লিস্ট</a></li>
                            <li><a href="customer-service-list.html">কাস্টমার সার্ভিস লিস্ট</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<mobile-header class="mobile-header">
    <div class="mobile-menu">
        <button id="openMenu">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="mobile-logo">
        <a href="/">
            <img src="/public/images/velki-site-main-logo.jpg">
        </a>
    </div>
    <div class="customer-service">
        <a href="customer-service-list.html">কাস্টমার সার্ভিস</a>
</mobile-header>

<div class="sidebar" id="sidebar" style="display: none;"> <!-- Hide by default -->
    <div class="sidebar-header">
        SIDEBAR
        <span class="close-btn" id="closeMenu">&times;</span> <!-- Added id for close button -->
    </div>
    <ul>
        <li><a href="home.html" class="head-menu">প্রধান মেনু</a></li>
        <li><a href="#">ভেল্কি অটো ডিপোজিট এজেন্ট</a></li>
        <li><a href="home.html" class="active">হোম পেইজ</a></li>
        <li><a href="general-qna.html">সাধারণ প্রশ্ন উত্তর <span class="new">•</span></a></li>
        <li><a href="proxylink.html" class="sub-menu">ভেল্কি প্রক্সি লিঙ্ক</a></li>
        <li><a href="open-velki-account.html" class="sub-menu">ভেল্কিতে একাউন্ট খুলবেন?</a></li>
        <li><a href="old-new-list.html" class="sub-menu">এজেন্ট এর নতুন নাম্বার</a></li>
        <li><a href="phone-number-search.html" class="sub-menu">ফোন নাম্বার সার্চ করুন</a></li>
        <li><a href="#" >এজেন্ট লিস্ট <span class="new">•</span></a></a></li>
        <li><a href="verify-agent.html" class="sub-menu">এজেন্ট কে ভেরিফাই করুন</a></li>
        <li><a href="master-agent-list.html" class="sub-menu">মাস্টার এজেন্ট লিস্ট</a></li>
        <li><a href="super-agent-list.html" class="sub-menu">সুপার এজেন্ট লিস্ট</a></li>
        <li><a href="sub-admin-list.html" class="sub-menu">সাব এডমিন লিস্ট</a></li>
        <li><a href="site-admin-list.html" class="sub-menu">সাইট এডমিন লিস্ট</a></li>
        <li><a href="customer-service-list.html" class="sub-menu">কাস্টমার সার্ভিস লিস্ট</a></li>
        <li><a href="home.html" class="active">ভেল্কি</a></li>
        <li><a href="#">ভেল্কি কমিউনিটি</a></li>
        <li><a href="#">ভেল্কি ফোরাম</a></li>
    </ul>
</div>

