<nav id="nav">
    <nav-header>
        <span class="material-symbols-outlined" id="navClose">
            left_panel_close
        </span>
        <img>
    </nav-header>
    <ul>
        <li class="menu-dashboard">
            <a href="dashboard.html"><span class="material-symbols-outlined">
                    home
                </span> Dashboard</a>
        </li>
        <li class="menu-item1">
            <a href="site-admin.html"><span class="material-symbols-outlined">
                    shield_person
                </span> Site Admin</a>

        </li>
        <li class="menu-item3">
            <a href="sub-admin.html"><span class="material-symbols-outlined">
                    person
                </span> Sub Admin</a>

        </li>
        <li class="menu-item4">
            <a href="super-agent.html"> <span class="material-symbols-outlined">
                    person
                </span>Super Agent</a>
        </li>
        <li class="menu-item4">
            <a href="master-agent.html"> <span class="material-symbols-outlined">
                    person
                </span>Master Agent</a>
        </li>
        <li class="menu-item4">
            <a href="customer-service.html"> <span class="material-symbols-outlined">
                support_agent
                </span>Customer Service</a>
        </li>
        <li class="menu-item5">
            <a href="old-new.html"> <span class="material-symbols-outlined">
                edit_note
                </span>Old New</a>
        </li>
    </ul>
    <nav-footer>
        <button id="logout">
            <span class="material-symbols-outlined">
                logout
            </span>
            Log Out</button>

    </nav-footer>
</nav>