
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffd000;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

header ul li {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-right: 1rem;
  border-right: solid 1px #414141;
  padding-left: 5px;
  padding-right: 5px;
}

header ul li a {
  display: flex;
  color: #565656;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  line-height: 0;
}


nav {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  padding: 1px;
}
nav ul {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 0px;
  background-color: #CCCCCC;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-bottom: 5px;
}

nav ul li img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.logo img {
  width: 100%;
  height: 320px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #393939;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  justify-content: center;
}

.container .title {
  display: flex;
  background-color: #333;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 200 !important;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
}

.title img {
  width: 32px;
  height: 32px;
}

.content-box {
  display: flex;
  box-sizing: border-box;
  background-color: #fbfedf;
  padding: 10px;
  margin: 20px;
  font-size: 32px;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
}

#agent-info-box{
  height: 157px;
  width: 620px;
}
.agent-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  justify-content: space-between;
  background-color: #eee;
  color: #000;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

.agent-info div{
  display: flex;
  justify-content: space-evenly;
}
.agent-info div span {
  color: #f60;
}
.agent-info .whatsapp {
  display: flex;
  align-items: center;
  justify-content: space-evenlyr;
}
.agent-info .whatsapp i {
  color: #25D366;
  font-size: 24px;
  margin-right: 10px;
}
.agent-info .whatsapp span {
  color: #f60;
  font-size: 24px;
}

.agent-info .whatsapp img {
  width: 60px;
}

a {
  text-decoration: none;
}


@media (max-width: 668px) {
  body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  h1 {
    font-size: 14px;
  }
  header {
    width: 100%;
  }

  header ul li a {
    font-size: 12px;

  }
  .logo img {
    height: 130px;
    width: 100%;
  }
  nav ul li img {
    height: 24px;
    margin-right: 4px;
    width: 24px;
  }
  nav {

    margin-top: 10px;
  }
  nav ul {
    margin-bottom: 1px;
    margin-top: .5px;
  }
  .title img{
    width: 20px;
    height: 20px;
  }
  .container .title{
    gap: 5px;
  }

  .content-box{
    margin: 10px;
    padding: 0px 5px;
    justify-content: center;
    text-align: center;
  }
  .agent-info{
    font-size: 18px;
    font-weight: 600;
  }
  .agent-info .whatsapp img {
    width: 25px;
    height: 25px;
  }
  #agent-info-box{
    width: 300px;
    height: 80px;
  }
  .agent-info .whatsapp i {

    font-size: 18px;

  }
  .agent-info .whatsapp span {
    font-size: 18px;
  }

  header ul li {
    align-content: center;
    border-right: 0px solid #414141;
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
}