table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-left: inset 1px #808080;
    border-right: inset 1px #808080;
    border-bottom: inset 1px #808080;
    border-top: 1px solid #e5e5e5;
}
th {
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fef5f3;
}
td {
    font-size: 15px;
    font-weight: 700;
}
tr:nth-child(even) {
    background-color: #fef5f3;
}
tr:nth-child(odd) {
    
    background-color: #a2b8af30;
}
.phone-number a {
    color: #cc0000;
}
.icon-telegram {
    color: #0088cc; /* Official Telegram color */
    font-size: 20px;
}
.icon-whatsapp {
    color: #25D366; /* Official WhatsApp color */
    font-size: 20px;
}

.phone-number a:hover {
    text-decoration: underline;
}