:root {
    --primary-color: #272a34;
    --secondary-color: #1f2029;
    --background-color: #272a34;
    --text-color: #ffffff;
    --text-color-white: rgb(255, 255, 255);
    --accent-color: #ffcc00;
    --accent-hover-color: #ffe204;

    --font-family: 'Display', Sans-serif;

    --font-size-base: 14px;
    --font-size-h1: 24px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
    --font-size-h4: 16px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    --container-width: 130px;
    --container-padding: 15px;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: #272a34;
    width: 100%;
    max-width: 100%;
    height: 100vh;

}

h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-family);
    margin: 0 0 0 0;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-medium);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-medium);
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-medium);
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-medium);
}

p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover-color);
}

.container {
    margin: 0 auto;
    padding: 20px var(--container-padding);
    background-color: var(--background-color);
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}


.flex-row {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
}

nav {
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #30323c;
    width: 100%;
    overflow: hidden;
    gap: 15px;
    box-sizing: border-box;
}

/*header css start here */


header {
    box-sizing: border-box;
    margin: 0;
    padding: 7px 40px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    height: 70px;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user-profile {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}
.user-profile .name-email{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
}

.user-profile .name-email #userNameElement {
    margin: 0;
    font-size: 17px;
}

.user-profile .name-email #userEmailElement {
    margin: 0;
    font-size: 14px;
}

/*header css end here */

section {
    padding: 20px;
    box-sizing: border-box;
}


.flex-column {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

/* Nav Menu CSS Start Here */
nav {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-evenly;
}

nav-header {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav-header img {
    width: 100px;
}

nav-footer {
    padding: 20px;
    border-radius: 10px;
}

nav a, li {
    color: var(--text-color-white);
    font-weight: var(--font-weight-normal);
}

ul {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

ul li {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    gap: 10px;
    padding: 7px;
    color: var(--text-color-white);
    border-radius: 7px;
    margin-bottom: 10px;
    color: var(--text-color-white);
    display: flex;
    align-items: center;

}

ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 10px;
}

ul li ul {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0; 
    left: 100%; 
    width: max-content; 
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 30px 20px;
    gap: 5px;
    border-radius: 10px;
}

ul li:hover > ul {
    display: flex;
}

ul li ul li {
    display: block;
    width: 100%;
    padding: 7px 10px;
    margin: 0;
    text-align: left;
    border-left: 4px solid var(--secondary-color);
    border-radius: 0px;
    font-size: 14px;
}

ul li ul li:hover {
    border-left: 4px solid var(--accent-color);
    border-radius: 0px;
    color: var(--accent-color);
}

nav ul li a {
    display: flex;
    flex-direction: row ;
    box-sizing: border-box;
    gap: 7px;
    padding: 10px 15px;
    align-items: center;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

#logout {
    justify-content: center;
    display: flex;
    background-color: #04ff9b00;
    border: 1px solid white;
    color: var(--text-color-white);
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 7px 15px;
    margin-left: 20px;
    font-size: 11px;
}

#logout:hover {
    background-color: var(--text-color-white);
    color: black;
    cursor: pointer;

}

/* Form CSS styles */
input, select{
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    outline: none ;
    font-size: 16px;
    font-weight: 300;
    width: 400px;
    color: var(--primary-color);
    background-color: #ffffff;
}

button {
    background-color: var(--accent-color);
    border: 0px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 17px;
    
}

button:hover {
    background-color: var(--accent-hover-color);
    translate: -1px;
}

.inner-col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.inner-col-2 {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
}
.form-group {
    display: flex;
    gap: 20px;
}
#create-admin-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    margin-top: 2px;
    width: 36px;
    height: auto;
}

#navClose {
    cursor: pointer;
    display: none;
}

#navOpen {
    cursor: pointer;
    display: none;
}


.table-box {
    height: auto;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-color);
}

.agents-table thead {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

th, td {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.agents-table {
    padding: 20px;
}

tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 60px;
}

.nameCell-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.nameCell-div .fa-solid, .fa-circle {
    font-size: 30px;
    color: var(--accent-color);
}

.nameCell-div p {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.nameCell-div p span {
    font-size: 12px;
    text-align: start;
}

.idCell {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.idCell h1 {
    background-color: var(--accent-color);
    color: black;
    font-weight: 500;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 7px;
    font-size: 14px;
    margin-top: 11px;
}

.agent-view-box {
    display: none;
    background-color: #00000040;
    align-content: end;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.agent-view-box > div {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 70px 70px 0px 0px;
}

.agent-form {
    box-sizing: border-box;
    height: 50vh;
    width: 1296px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 40px;
    border-radius: 15px;
}

#delete-button {
    background-color: var(--primary-color);
    color: white;
}

#delete-button:hover{
    background-color: var(--secondary-color);
}

.agent-form input, select{
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    outline: none ;
    font-size: 17px;
    font-weight: 500;
    width: 400px;
    color: var(--primary-color);
    background-color: #ffffff;
}
.agent-form input:focus, select:active{
    background-color: #ffffff;
    border: 1px solid #6a01c5;
    padding: 19px;
}

#closeAgentBox {
    position: absolute;
    bottom: 100px;
    top: 330px;
    right: 20px;
    padding: 7px;
    height: 40px;
    color: white;
    background-color: #272a34;
}

#closeAgentBox:hover {
    background-color: var(--secondary-color);
    translate: -1px;
}

td button {
    padding: 5px !important;
    border-radius: 3px;

}

.message {
    font-size: 19px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-box {
    padding: 5px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#add-new {
    background-color: yellowgreen;
}

#add-new:hover {
    background-color: yellow;
}

#update-button {
    background-color: rgb(116, 3, 215);
    color: white;
    text-transform: uppercase;
}

#update-button:hover {
    background-color: rgb(94, 11, 167);
}

#navClose {
    color: white;
}

.nameCell-div {
    align-items: center;
    display: flex;
    font-size: 17px;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}



/* Responsive design */
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 var(--container-padding);
    }
}

@media (max-width: 768px) {
    :root {
        --font-size-h1: 22px;
        --font-size-h2: 18px;
        --font-size-h3: 16px;
    }

}

@media (max-width: 576px) {
    :root {
        --font-size-h1: 16px;
        --font-size-h2: 16px;
        --font-size-h3: 7px;
    }

    .container {
        border-radius: 4px;
        padding: 0px 5px;
    }

    p {
        font-size: 8px;
        font-weight: 100 !important;
    }

    .nameCell-div {
        margin-left: -5px;
    }

    .nameCell-div p span {
        font-size: 7px !important;
    }

    .nameCell-div .fa-solid, .fa-circle {
        font-size: 10px !important;
    }

    .idCell h1 {
        font-size: 9px !important;
        margin-top: 16px !important;
        padding: 5px !important;
        border-radius: 4px !important;
    }
    .navbar {
        display: none;
    }
    nav {
        position: absolute;
        width: 80%;
        height: 100vh;
        z-index: 1000;
    }
    
    main {
        width: 100%;
    }

    section {
        padding: 5px;
    }

    header {
        padding: 4px 10px
    }

    .user-profile .name-email #userNameElement {
        font-size: 10px !important;
    }

    #userEmailElement{
        font-size: 8px !important;
    }

    .avatar {
        margin-top: 2px;
        width: 30px;
        height: auto;
    }

    .search-box {
        padding: 10px 1px !important;
    }

    input, select {
        font-size: 9px;
        width: auto;
    }

    button {
        padding: 13px;
        font-size: 12px;
        border-radius: 2px;
    }

    th {
        font-size: 7px;
        padding: 5px !important;
        border-radius: 2px !important;
        line-height: 1.2;
    }

    td {
        font-size: 9px;
        padding: 5px !important;
    }
    .table-box {
        padding: 10px 1px !important;
    }

    .fa-star {
        font-size: 5px;
    }

    #navClose {
        display: block;
        position: absolute;
        right: -3px;
        top: 60px;
    }

    #navOpen {
        display: block;
    }
    .agent-form {
        width: 100%;
    }
    
    .inner-col-1 {
        width: 100%;
        
    }
    
    .form-group {
        flex-direction: column;
    }
    
    .agent-view-box > div {
        border-radius: 25px 25px 0px 0px;
    }


    .agent-form input, select {
        width: fit-content;
        padding: 15px;
        font-size: 13px;
        font-weight: 500;
    }
}
